[spark]
isLocal=True
filepath_local=C:/Users/quz/PycharmProjects/BigDataProcess/data
filepath_hdfs=/proj/bigdataprocess/
filename=Folds5x2_pp.csv
columnname=AT,V,AP,RH,PE

[MR]
isLocal=True
filepath_local=./data/
filepath_hdfs=/proj/bdp/data/
filename=Folds5x2_pp.csv


[standalone]
filepath_local=C:/Users/quz/PycharmProjects/BigDataProcess/data
filename=Folds5x2_pp.csv
columnname=AT,V,AP,RH,PE